@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
ion-content{
    font-family: sans-serif;
    --background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    .menu_btn{
        position: relative;
        top: 40px;
        left:10px;
    
    }
    .ImageThumbnail{
        position: relative;
        display: flex;
        height: 150px;
    }
    .top{
        margin-top: 2rem;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        .nameText{
            margin-top: 20px;
            p{
                color: #fff;
                margin-left: 25px;
                font-size: 28px;
                span{
                    font-weight: bold;
                }
            }
            h6{
                margin-left: 25px;
                        font-size: 18px;
                        margin-top: -30px;
                        color: #cccccc;
            }
            small{
                margin-left: 25px;
                margin-top: --80px !important;
                color: #2855ae;
                background-color: #fff;
                padding: 5px 10px;
                border-radius: 10px;
            }
            .imageThumbnail{
                width: 60px;
                height:60px;
                
            }
        }
    }
    .middleBox{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
    }
    .firstDiv{
        height: auto;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #2855ae;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        img{
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }
        p{
            margin-top: 20px;
            font-size: 25px;
            font-weight: bold;
        }
        h6{
            margin-top: -25px;
            color: #ccc;
        }
    }
    .secondDiv{
        height: auto;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #2855ae;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        img{
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }
        p{
            margin-top: 20px;
            font-size: 25px;
            font-weight: bold;
        }
        h6{
            margin-top: -25px;
            color: #ccc;
        }

    
    }
    .bottonDiv{
        height: auto;
        background-color: #fff;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-top: -70px;
        padding-top: 120px;
        padding-bottom: 20px;
    }
        .gridDiv{
            display: grid;
            grid-template-columns: 49% 49%;
            grid-gap: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .box{
            background-color: #f5f6fc;
            border-radius: 15px;
            height: 150px;
            padding: 20px;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            p{
                color: #2855ae;
                text-align: center;
            }
        }






}