ion-content::part(background) {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
  
#container {
  text-align: center;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.logo{
  width: 140px;
  position: absolute;
  top: 10px;
  left: 110px;
  font-size: 18px;
  }
.regbut{
  width: 140px;
  position: absolute;
  top: 150px;
  left: 110px;
  font-size: 18px;
}
.logbut{
  width: 140px;
  position: absolute;
  top: 210px;
  left: 110px;
  font-size: 18px;
}
.p{
  width: 140px;
  position: absolute;
  top: 190px;
  left: 110px;
  font-size: 18px;

}